-O1W C1W C1B
-O1Y C1Y C1B
-O2W C2W C2B 
-O2Y C2Y C2B
-O3W C3W C3B
-O3Y C3Y C3B
-L1W -C1W
-L1Y C1Y
-L1B -C1B 
-L2W -C2W
-L2Y -C2Y
-L2B -C2B
-L3W -C3W
-L3Y -C3Y
-L3B -C3B
C1W C1Y C1B
C2W C2Y C2B
C3W C3Y C3B
-C1W -C3W
-C1Y -C3Y
-C1B -C3B
-C2W -C3W
-C2Y -C3Y
-C2B -C3B
-C3W -C2W
-C3Y -C2Y
-C3B -C2B
-C1W -C2W
-C1Y -C2Y
-C1B -C2B
-C2W -C1W
-C2Y -C1Y
-C2B -C1B
-C3W -C1W
-C3Y -C1Y
-C3B -C1B